/* Adjustments */

h2 {
color: #414141;
}

h3{
	font-size: 28px;
	color: #C0392B;
}

h3:hover {
	color: #e74c3c;
}

h4{
	font-size: 18px;
	margin-top: 0;
}

h5 {
	font-size: 28px;
	color: #C0392B;
}

h6 {
	font-size: 24px;
	color: #C0392B;
	padding-top: 10px;
	margin-left: 20px;
}

/* Sprites */

.sprite {
	background: url(../img/sprite.png);
	margin: 10px 10px 10px 10px;
}

.partnersFirstRow {
	margin: 0 10px 10px 10px;
}

.partnersThirdRow {
	margin: 10px 10px 0 10px;
}

.partenaires {
	height: 55px;
}

.regionLR {
	width: 103px;
	background-position: 0px 0px;
}

.villeBeziers {
	width: 70px;
	background-position: -109px 0px;
}

.regionA {
	width: 252px;
	background-position: -183px 0px;
}

.regionMP {
	width: 55px;
	background-position: 0px -60px;
}

.cgPO {
	width: 44px;
	background-position: -61px -60px;
}

.cgAran {
	width: 305px;
	background-position: -115px -60px;
}

.regionRA {
	width: 283px;
	background-position: 0px -120px;
}

.regionPC {
	width: 115px;
	background-position: -285px -120px;
}

/* Quotes symbols */

.quotGlyph {
	float: left;
	height: 60px;
	width: 77px;
	background-position: 0px -200px;
}


/* End sprites */

.contain-to-grid{
	background: #414141;
}

nav.top-bar{
	background: #414141;
}

.top-bar-section li a:not(.button){
	background: #414141;
}

.top-bar-section li a:hover:not(.button){
	background: #C0392B;
}

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
	border-bottom: none;
	border-top: none;
	border-right: solid 1px #6A6A6A;
	border-left: solid 0px;
	clear: none;
	height: 45px;
	width: 0px;
}



#logo {
	margin: 10px 0 0 0;
	width: 560px;
	height: 108px;
	background: url(../img/logo/logo.png) no-repeat;
}

.searchContainer {
	margin : 30px 0 50px 0;
	height: 86px;
	background-color: #ECF0F1;
	border-radius: 3px;

}

.searchBox {
	background: #FFFFFF;
	border: 1px solid #C7C7C7;
	height: 66px;
}

.space {
	margin: 30px 0 0 0;
}

.end {
	margin: 30px 0 30px 0;
}

.quote {
	width: 545px;
	height: 300px;
}

.quote p {
	margin: 10px 10px 10px 60px;
	font-size: 30px;
	line-height: 30px;
}

.item {
	font-size: 16px;
}

footer {
	width: 100%;
	height: 150px;
	background-color: #000;
}

footer ul {
	list-style-type: none;
	margin-top: 20px;
}

footer ul li {
	float: left;
	padding-right: 50px;
}

/* RECHERCHE */


input[type="text"] {
	width: 300px;
	height:40px;
}

.button{
	height: 40px;
	background-color:#FFF;
	border-color:#C7C7C7;
	color: #000;
	padding-top: 11px;
}

.f-dropdown li a{
	color: #000;
}

.f-dropdown li a:hover{
	color: #FFF;
	background-color: #C0392B;
}

.button:hover{
	background-color:  #FFF;
	color: #C0392B;
}

.dropdown.button:before{
	border-color: #000 transparent transparent transparent;
}

.dropdown.button:before:hover{
	border-color: #C0392B transparent transparent transparent;
}

.recherche .row {
	margin-top: 15px;
	margin-left: 10px;
}

.tag a {
	color: #000;
}

.tag a:hover {
	color: #e74c3c;
}

.result p {
	color: #C0392B;
	font-size: 18px;
}

.fil p {
	color: #C0392B;
	font-size: 18px;
	text-align: right;
}

.img {
	float: right;
	margin-top: -65px;
	margin-right: 20px;
}
.imgg {
	float: right;
	margin-top: -65px;
	margin-right: 80px;
}

.large-3 {
	width: 240px;
}

.right img {
	margin-top: 10px;
	margin-left: 43px;
}

.large-9 {
margin-right: 40px;
padding: 0;
}

.logoMin {
	width: 500px;
	height: 97px;
	background: url(../img/logo/logo_second.png) no-repeat;
}

.recherche {
	margin: 20px 0 0 0;
	width: 550px;
	height:70px;
	background-color: rgba(0, 0, 0, 0.72);
	opacity: 0.8;
	border-radius:3px;
}

.result {
	width: 400px;
	height:40px;
}

.fil {
	width: 400px;
	height:40px;
}

.espace {
	height:20px;
}

.line {
	margin-left: 240px;
	width: 1100px;
	height: 1px;
	background-color: #333;
	border: 1px outset #DDD;
}
.pagination {
	width: 400px;
	height: 40px;
	text-align: center;
}


/* RESSOURCE */
